@import '../../../../scss/media-query-mixins';
@import '../../../../scss/sass-variables';

.edit-account {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;

  @include sm {
    padding: 1.5rem;
  }

  &-row {
    &-description {
      font-size: 0.75rem;
      color: $muted-500;
      margin-top: 5px;
    }
  }
}
