@import '../../scss/media-query-mixins';
@import '../../scss/sass-variables';

.cart-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  background-color: #201f1f94;
  z-index: 99;

  &-container {
    background-color: $primaryWhite;
    color: $muted-100;
    width: 100%;
    margin-top: 5.7rem;
    height: 100%;

    @include md {
      width: 30vw;
    }
  }
}
