@import '../../../scss/media-query-mixins';
@import '../../../scss/sass-variables';

.custom-radio {
  display: block;
  position: relative;
  padding-left: 2rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /* Hide the browser's default radio button */
  &-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;

    /* Show the indicator (dot/circle) when checked */
    &:checked ~ .checkmark:after {
      display: block;
    }

    &:checked ~ .checkmark {
      border: 2px solid $primaryBlack;
    }
  }

  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 1rem;
    width: 1rem;
    background-color: $primaryWhite;
    border: 2px solid $muted-200;
    border-radius: 50%;

    /* Style the indicator (dot/circle) */
    &:after {
      content: '';
      position: absolute;
      display: none;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: $primaryBlack;
    }
  }

  /* On mouse-over, add a grey background color */
  &:hover .custom-radio-input ~ .checkmark {
    border: 2px solid $primaryBlack;
  }
}
