@import '../../scss/sass-variables';
@import '../../scss/media-query-mixins';

.nav-bar {
  width: 100%;

  .mainNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3.3rem;
    background-color: $secondaryColor;
    padding: 0 1rem;
    color: $primaryWhite;

    @include md {
      height: 4rem;
      padding: 0 1.5rem;
    }

    .brandName {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 500;
      height: 100%;

      span {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.8rem;
        color: $primaryWhite;
        height: 100%;
        width: max-content;

        @include sm {
          font-size: 2.3rem;
        }
      }

      &-crown {
        position: absolute;
        top: -1px;
        left: -1rem;
        transform: rotate(-45deg);
        width: 2rem;
        height: 2rem;
        fill: $primaryWhite;

        @include sm {
          top: 3px;
          left: -1rem;
          width: 2.2rem;
          height: 2.2rem;
        }
      }
    }

    .menOrWomenCategory {
      display: none;
      align-items: center;
      justify-content: center;
      border-left: 1px solid $borderColor;
      height: 100%;

      @include md {
        display: flex;
      }

      .menWomen {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.15rem;
        font-weight: 600;
        color: $primaryWhite;
        padding: 0 0.5rem;
        height: 100%;

        &:hover {
          color: $primaryBlack;
        }
      }
    }

    .form {
      display: none;
      width: 50%;
      height: 2.1rem;
      border: none;
      border-radius: 20px;
      overflow: hidden;
      margin: 0 1.5rem;

      @include md {
        display: block;
      }

      .formContainer {
        height: 100%;
        display: flex;

        input {
          flex: 1;
          height: 100%;
          font-size: 0.875rem;
          font-weight: 500;
          padding-left: 1em;
          color: $primaryBlack;
        }

        .searchIcon {
          display: flex;
          align-items: center;
          justify-content: center;
          height: inherit;
          background: $primaryWhite;
          padding-right: 0.5em;
          cursor: pointer;

          .search-icon {
            width: 28px;
            height: 28px;
            stroke-width: 1.5px;
          }
        }
      }
    }

    .accountFavCart {
      display: flex;
      justify-content: flex-end;

      .mobileSearch {
        display: block;

        @include sm {
          display: none;
        }

        .nav-icon {
          stroke: $primaryWhite;
          width: 1.75rem;
          height: 1.75rem;

          @include sm {
            width: 1.875rem;
            height: 1.875rem;
          }
        }
      }

      .count-position {
        position: relative;
      }

      .nav-icon {
        stroke: $primaryWhite;
        width: 1.75rem;
        height: 1.75rem;

        @include sm {
          width: 1.875rem;
          height: 1.875rem;
        }
      }

      .icon {
        position: relative;
        cursor: pointer;

        @include md {
          margin-left: 1em;
        }

        &-count {
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: 0;
          right: 0;
          width: 15px;
          height: 15px;
          font-size: 0.625rem;
          font-weight: 600;
          z-index: 1;
          background: $primaryWhite;
          color: $secondaryColor;
          border-radius: 50%;
        }

        @media screen and (max-width: 768px) {
          margin-right: 1rem;
          font-size: 1rem;
        }
      }
    }
  }

  .subNav {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 3px $borderColor;
    background-color: $primaryWhite;

    @media screen and (max-width: 768px) {
      display: none;
    }

    .subNavItem {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      position: relative;
      border-bottom: 2px solid $borderColor;

      .item {
        padding: 0.2em 0;

        &:hover .itemMenu .itemMenucontainer {
          transform: scale(1, 1);
          height: auto;
          transition: transform 0.2s ease-in-out 0.2s;
        }

        .itemHeader {
          padding: 0 0.5rem;
          box-shadow: 0 3px 3px transparent;
          transition: all 0.7s cubic-bezier(0.445, 0.05, 0.55, 0.95);
          cursor: pointer;

          &:hover {
            box-shadow: 0 1.5px 1px $secondaryColor;
          }
        }

        .itemMenu {
          position: absolute;
          left: 0;
          transform: translateY(5px);
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          font-size: 0.875rem;

          .itemMenucontainer {
            position: relative;
            display: grid;
            grid-template-columns: 0.4fr 1fr;
            width: 70vw;
            box-shadow: 0 0 2px $primaryBlack;
            background: $primaryWhite;
            z-index: 2;
            transform: scale(1, 0);
            transform-origin: top;
            height: 0;

            @media screen and (max-width: 1024px) {
              width: 90vw;
            }

            &:hover {
              transform: scale(1, 1);
              height: auto;
            }

            .subs {
              // padding: 0 0.5rem;

              .header {
                font-size: 1.1rem;
                padding: 0.5rem 0.5rem 0 0.5rem;
              }

              .content {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

                .groupContent .subLink {
                  margin: 0.8rem 0;
                  width: max-content;
                  padding: 0 0.5rem;

                  &:hover {
                    text-decoration: underline;
                  }
                }

                .contentLeft {
                  width: 100%;

                  .subMenuLink {
                    display: flex;
                    justify-content: space-between;
                    font-size: 0.9rem;
                    padding: 0.7rem 0.6rem;
                    margin: 0;

                    &:hover {
                      background: #000000;
                      color: #ffffff;
                      cursor: pointer;
                    }

                    span:nth-child(2) {
                      font-size: 1.1rem;
                    }
                  }
                }
              }
            }

            .itemRight {
              border-left: 1px solid $borderColor;
              padding-bottom: 2.5rem;
            }
          }
        }
      }
    }
  }
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 5;
}
