@import '../../../scss/media-query-mixins';
@import '../../../scss/sass-variables';

.sign-up {
  display: grid;
  grid-template-columns: 1fr;
  padding: 3rem 0;

  &-container {
    display: grid;
    grid-template-columns: 1fr;

    @include md {
      grid-template-columns: 0.8fr 1fr;
    }

    &-left-column {
      display: none;

      @include md {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        // background: url('images/login-img.jpg');
        border: 1px solid $error;
      }
    }

    &-right-column {
      border: 1px solid $secondaryColor;
      min-height: 40vh;
    }
  }
}
