@import '../../../scss/media-query-mixins';
@import '../../../scss/sass-variables';

.sign-up {
  display: grid;
  grid-template-columns: 1fr;
  padding: 3rem 0;

  &-container {
    display: grid;
    grid-template-columns: 1fr;

    @include md {
      grid-template-columns: 0.65fr 1fr;
    }

    &-left-column {
      display: none;

      @include md {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: $secondaryColor;
        color: $primaryWhite;
      }

      .text-1 {
        max-width: 17rem;
      }

      .text-2 {
        margin-top: 2rem;
      }
    }

    &-right-column {
      border: 1px solid $secondaryColor;
      min-height: 60vh;
    }
  }
}
