@import '../../../scss/sass-variables';
@import '../../../scss/media-query-mixins';

.Similar-searches {
  margin: 1.25rem 0;
  padding: 0 1rem;

  @include md {
    padding: 0;
  }

  &-header {
    font-size: 1.5rem;
    font-weight: 600;
  }

  &-content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.5rem;

    &-row {
      font-size: 0.875rem;
      font-weight: 500;
      padding: 2px 1rem;
      border: 1px solid $primaryBlack;
      margin: 0 0.5rem 0.5rem 0;

      &:hover {
        background-color: $primaryBlack;
        color: $primaryWhite;
        transition: all 0.5s ease-in-out;
        cursor: pointer;
      }
    }
  }
}
