@import '../../../scss/media-query-mixins';
@import '../../../scss/sass-variables';

.custom-phone-number {
  display: flex;
  position: relative;
  height: 3rem;
  font-size: 0.85rem;
  border: 1px solid $muted-300;
  border-radius: 3px;

  .country-code-select {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 0.5rem;
    cursor: pointer;

    &:hover {
      background-color: $muted-300;
    }

    .country-flag-svg {
      width: 1.7rem;
      height: 1.4rem;
    }
  }

  .countries-dropdown {
    position: absolute;
    top: 3rem;
    left: 0;
    width: 100%;
    height: 10rem;
    transform: scale(0);
    background-color: $primaryWhite;
    border: 1px solid $muted-300;
    border-radius: 3px;
    transform-origin: top;
    transition: 0.2s ease-in-out;

    &:focus {
      border: 0;
      outline: 0;
    }

    &-option {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding: 0.25rem 0.5rem;

      &:hover {
        background-color: $muted-300;
        cursor: pointer;
      }

      .country-name {
        flex: 1;

        .country-code {
          color: $muted-200;
        }
      }

      .country-flag-svg {
        width: 1.7rem;
        height: 1.4rem;
      }
    }
  }

  .show-dropdown {
    transform: scale(1);
  }
}
