@import '../../../scss/media-query-mixins';
@import '../../../scss/sass-variables';

.user-addresses {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;

  @include sm {
    padding: 1.5rem;
  }

  &-row {
    display: flex;
    gap: 1.5rem;

    &-column {
      flex: 1;

      &-title {
        position: relative;
        width: fit-content;
        font-size: $md;
        font-weight: 600;
        margin-bottom: 0.3rem;
      }

      &-important {
        &::after {
          position: absolute;
          content: '*';
          top: 0;
          right: -0.5rem;
          color: #ff0000;
        }
      }
    }
  }
}
