@import '../../../scss/media-query-mixins';
@import '../../../scss/sass-variables';

.user-addresses {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;

  @include sm {
    padding: 1.5rem;
  }

  &-row {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    @include sm {
      flex-direction: row;
    }

    &-column {
      flex: 1;
    }
  }
}
