@import '../../../scss/media-query-mixins';

.category-display {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  padding: 1em;

  @include sm {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3em 1em;
    padding: 2em 5em;
  }

  @include md {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3em 1em;
    padding: 2em 5em;
  }
}
