@import '../../../scss/media-query-mixins';
@import '../../../scss/sass-variables';

.sort-and-filter {
  display: none;

  @include sm {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1.5em;
    background: rgb(247, 244, 244);
  }

  @include md {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2em 5em;
    background: rgb(247, 244, 244);
  }

  &-item {
    display: flex;
    position: relative;
    align-items: center;
    height: max-content;
    border-bottom: 2px solid gray;
    padding: 0.5em;

    // &:hover .sub-item {
    //   display: flex;
    // }

    &-first {
      font-size: 0.875rem;
      cursor: pointer;

      &:hover {
        color: $secondaryColor;
      }
    }

    .sub-item {
      position: absolute;
      display: none;
      flex-direction: column;
      left: 0;
      overflow-y: auto;
      bottom: -12.4rem;
      min-width: 14rem;
      height: 12rem;
      max-height: 12rem;
      background: rgb(247, 244, 244);
      box-shadow: 0 0 2px rgb(44, 44, 44);
      z-index: 5;

      &-item {
        display: block;
        padding: 0.5em;
        font-size: 0.875rem;
        color: $muted-100;

        // &:first-child {
        //   background: $primaryBlack;
        // }

        &:hover {
          background: $primaryBlack;
          color: $primaryWhite;
          cursor: pointer;
        }
      }
    }

    .active {
      display: flex;
    }
  }
}
