@import '../../../scss/media-query-mixins';
@import '../../../scss/sass-variables';

.sort-and-filter {
  display: none;
  background: #f7f4f4;
  flex-direction: column;
  gap: 1rem;

  @include sm {
    display: flex;
    padding: 1.5em;
  }

  @include md {
    display: flex;
    padding: 2em 5em;
  }

  &-container {
    display: flex;
    flex-wrap: wrap;
  }

  &-item {
    position: relative;
    height: max-content;
    border-bottom: 1px solid $muted-300;
    margin: 0 1em 1em 0;

    &-select {
      display: flex;
      align-items: center;
      height: 1.5rem;
      font-size: 0.875rem;
      cursor: pointer;

      .state-icon {
        width: 1rem;
        height: 1rem;
        stroke: $primaryBlack;
        transform: rotate(90deg);
        margin-left: 0.25rem;
      }

      &:hover {
        color: $secondaryColor;
      }
    }

    .sub-item {
      position: absolute;
      display: none;
      flex-direction: column;
      left: 0;
      overflow-y: auto;
      top: 1.5rem;
      min-width: 14rem;
      height: 12rem;
      max-height: 12rem;
      background: rgb(247, 244, 244);
      box-shadow: 0 0 1px $muted-200;
      z-index: 5;

      &-option {
        display: block;
        padding: 0.5em;
        font-size: 0.875rem;
        color: $muted-100;

        &:hover {
          background: $primaryBlack;
          color: $primaryWhite;
          cursor: pointer;
        }
      }

      .active {
        background: $primaryBlack;
        color: $primaryWhite;
      }
    }

    .active {
      display: flex;
    }
  }

  .view-items {
    display: flex;
    justify-content: center;

    &-link {
      background-color: $primaryBlack;
      color: $primaryWhite;
      padding: 0.5rem 1rem;
      border-radius: 5px;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
