@import '../../../scss/media-query-mixins';
@import '../../../scss/sass-variables';

.product-accordion {
  border: 1px solid $muted-300;
  overflow: hidden;
  margin: 0.75rem 1rem 0 1rem;

  @include sm {
    margin: 0.75rem 0 0 0;
  }

  .header-toggle-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.875rem;
    padding: 0.5rem 1rem;
    cursor: pointer;

    &:hover .header-toggle-btn-header {
      color: $secondaryColor;
    }

    &-header {
      font-size: 0.875rem;
      font-weight: 500;
    }

    &-btn {
      cursor: pointer;
    }
  }

  &-content-container {
    transition: max-height 0.5s ease-in-out;
    outline: 1px solid $muted-300;

    &-content {
      display: grid;
      grid-template-columns: auto;
      gap: 0.5rem;
      font-size: 0.875rem;
      padding: 1rem;
    }
  }
}
