@import '../../../scss/media-query-mixins';
@import '../../../scss/sass-variables';

.product-accordion {
  border: 1px solid $transparentGray;
  margin-bottom: 0.75rem;
  overflow: hidden;

  .header-toggle-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.875rem;
    padding: 0.5rem 1rem;
    cursor: pointer;

    &:hover .header-toggle-btn-header {
      color: $secondaryColor;
    }

    &-header {
      font-weight: 500;
    }

    &-btn {
      cursor: pointer;
    }
  }

  &-content-container {
    transition: all 0.5s ease-in-out;
    outline: 1px solid $transparentGray;

    &-content {
      display: grid;
      grid-template-columns: auto;
      gap: 0.5rem;
      font-size: 0.875rem;
      padding: 1rem;

      .cloth-detail {
        padding-bottom: 1rem;
        border-bottom: 1px solid $transparentGray;

        &-row {
          display: flex;
          align-items: center;

          &-key {
            font-weight: 600;
            margin-right: 5px;
          }

          &-value {
            flex: 1;
          }
        }
      }

      .list-component {
        &-header {
          font-weight: 700;
          margin-bottom: 0.35rem;
        }

        ul {
          list-style: disc;
          margin-left: 1em;
          padding-left: 1em;
        }
      }

      .review-content {
        display: grid;
        grid-template-columns: auto;
        gap: 1rem;

        @include sm {
          grid-template-columns: 0.4fr 1fr;
          gap: 0.5rem;
        }

        .review-ratings,
        .review-comments {
          border: 1px solid $transparentGray;
          min-height: 4rem;
        }

        .total-rating {
          display: flex;
          align-items: center;

          &-stars {
            display: flex;
            align-items: center;
            margin-right: 7px;
          }

          &-text {
            vertical-align: middle;
            font-size: 1.25rem;
            font-weight: 700;
          }
        }

        .global-rating {
          color: $headerBackgroundHoverColor;
        }

        .rating-by-stars {
          &-row {
            display: flex;
            align-items: center;
            margin-bottom: 5px;

            .stars-row {
              display: flex;
              align-items: center;
              margin-right: 7px;
            }
          }
        }
      }

      .shipping-content {
        display: grid;
        grid-template-columns: auto;
        gap: 0.75rem;

        @include sm {
          grid-template-columns: repeat(5, auto);
        }

        .content-column {
          font-size: 0.875rem;

          .column-heading {
            font-weight: 600;
          }

          .column-value {
            @include sm {
              margin-top: 5px;
            }
          }
        }
      }
    }
  }
}
