@import '../../../scss/media-query-mixins';
@import '../../../scss/sass-variables';

.product-accordion {
  border: 1px solid $muted-300;
  overflow: hidden;
  margin: 0.75rem 1rem 0 1rem;

  @include sm {
    margin: 0.75rem 0 0 0;
  }

  .header-toggle-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.875rem;
    padding: 0.5rem 1rem;
    cursor: pointer;

    &:hover .header-toggle-btn-header {
      color: $secondaryColor;
    }

    &-header {
      font-size: 0.875rem;
      font-weight: 500;
    }

    &-btn {
      cursor: pointer;
    }
  }

  &-content-container {
    transition: all 0.5s ease-in-out;
    outline: 1px solid $muted-300;

    &-content {
      display: grid;
      grid-template-columns: auto;
      gap: 0.5rem;
      font-size: 0.875rem;
      padding: 1rem;

      .cloth-detail {
        padding-bottom: 1rem;
        border-bottom: 1px solid $muted-300;

        &-row {
          display: flex;
          align-items: center;

          &-key {
            font-weight: 600;
            margin-right: 5px;
          }

          &-value {
            flex: 1;
          }
        }
      }

      .list-component {
        &-header {
          font-weight: 700;
          margin-bottom: 0.35rem;
        }

        ul {
          list-style: disc;
          margin-left: 1em;
          padding-left: 1em;
        }
      }

      .review-content {
        display: grid;
        grid-template-columns: auto;
        gap: 1rem;

        @include md {
          grid-template-columns: 0.3fr 1fr;
          gap: 1rem;
        }

        .review-ratings {
          position: sticky;
          top: 0;
          height: max-content;
          padding: 1rem 0;
          border-bottom: 1px solid $muted-300;

          .total-rating {
            display: flex;
            align-items: center;

            &-stars {
              display: flex;
              align-items: center;
              margin-right: 7px;
            }

            &-text {
              vertical-align: middle;
              font-size: 1.25rem;
              font-weight: 700;
            }
          }

          .global-rating {
            color: $muted-200;
          }

          .rating-by-stars {
            margin-top: 5px;

            &-row {
              display: flex;
              align-items: center;
              margin-bottom: 5px;

              .stars-row {
                display: flex;
                align-items: center;
                margin-right: 7px;
              }

              .rating-percentage {
                font-size: 0.75rem;
              }
            }
          }
        }

        .review-comments {
          height: 100%;

          .review-card {
            height: max-content;
            padding-bottom: 2rem;
            border-bottom: 1px solid $muted-300;
            margin-bottom: 2rem;

            &:last-child {
              border-bottom: none;
              margin-bottom: 0;
            }

            &-date {
              font-size: 0.75rem;

              @include sm {
                font-size: 0.875rem;
              }
            }

            &-icon-name {
              display: flex;
              align-items: center;
              margin-top: 0.5rem;

              .face-icon {
                width: 1.6rem;
                height: 1.6rem;
                border: 1px solid $muted-300;
                border-radius: 50%;
                padding: 1px;
                margin-right: 5px;
              }

              .reviewer-name {
                font-weight: 500;
                font-size: 1rem;
              }
            }

            .rating-and-links {
              display: flex;
              align-items: center;
              margin-top: 0.75rem;

              .stars-row {
                display: flex;
                align-items: center;
              }

              .on-text {
                margin-left: 5px;
              }

              .link-to-item {
                text-decoration: underline;
                color: $secondaryColor;
                margin-left: 5px;
                // cursor: pointer;

                .and {
                  color: $primaryBlack;
                  margin: 0 3px;
                }

                &:hover {
                  opacity: 0.9;
                }
              }
            }

            .review-comment {
              font-size: 0.875rem;
              margin-top: 0.75rem;
            }

            .images-container {
              display: grid;
              grid-template-columns: 0.9fr;
              margin-top: 0.75rem;
              justify-content: center;

              @include md {
                grid-template-columns: 1fr 0.8fr;
              }

              .mySwiper {
                width: 100%;
                height: 100%;

                .swiper-button-prev:after,
                .swiper-button-next:after {
                  font-size: 1.5rem;
                  font-weight: 600;
                }

                .review-screenshot {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }
            }
          }
        }
      }

      .shipping-content {
        display: grid;
        grid-template-columns: auto;
        gap: 0.75rem;

        @include sm {
          grid-template-columns: repeat(5, auto);
        }

        .content-column {
          font-size: 0.875rem;

          .column-heading {
            font-weight: 600;
          }

          .column-value {
            @include sm {
              margin-top: 5px;
            }
          }
        }
      }
    }
  }
}
