@import '../../scss/media-query-mixins';
@import '../../scss/sass-variables';

.checkout-contacts {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  @include sm {
    max-width: 29.8rem;
    margin: 0 auto;
  }

  @include lg {
    max-width: 47rem;
    margin: 0 auto;
  }
}
