@import '../../../scss/sass-variables';
@import '../../../scss/media-query-mixins';

.pagination {
  display: flex;
  width: fit-content;
  margin: 2rem auto;

  &-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.75rem;
    height: 1.75rem;
    font-size: 0.875rem;
    font-weight: 600;
    border: 2px solid $primaryBlack;
    color: $primaryBlack;
    background-color: $primaryWhite;
    margin: 0 0.215rem;
    border-radius: 3px;

    @include md {
      margin: 0 0.435rem;
    }

    &:hover {
      background-color: $primaryBlack;
      color: $primaryWhite;
      cursor: pointer;
    }
  }

  .activeBtn {
    background-color: $primaryBlack;
    color: $primaryWhite;

    &:hover {
      background-color: $primaryBlack;
      color: $primaryWhite;
    }
  }

  .pagination-next-prev {
    stroke: $primaryBlack;

    &:hover {
      stroke: $primaryWhite;
    }
  }

  .out-of-reach {
    background-color: $muted-300;
    color: $primaryWhite;

    &:hover {
      background-color: $muted-300;
      color: $primaryWhite;
    }
  }
}
