@import '../../scss/sass-variables';
@import '../../scss/media-query-mixins';

.header {
  width: 100%;

  .mainNav {
    display: flex;
    align-items: center;
    height: 3.8rem;
    background-color: $headerBackgroundColor;
    color: #ffffff;

    @media screen and (max-width: 768px) {
      justify-content: space-between;
      height: 3rem;
    }

    .brandName {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 500;
      height: 100%;

      span {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.3rem;
        color: $secondaryColor;
        padding: 0 1.5rem;
        height: 100%;
        width: max-content;

        @media screen and (max-width: 768px) {
          font-size: 1.5rem;
          padding: 0 0.5rem;
        }

        @media screen and (max-width: 768px) {
          font-size: 1.25rem;
          padding: 0 0.5rem;
        }
      }
    }

    .menOrWomenCategory {
      display: flex;
      align-items: center;
      justify-content: center;
      border-left: 1px solid $borderColor;
      height: 100%;

      @media screen and (max-width: 768px) {
        display: none;
      }

      .menWomen {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.15rem;
        color: white;
        padding: 0 1.5rem;
        width: 4rem;
        height: 100%;

        &:hover {
          background-color: $headerBackgroundHoverColor;
        }
      }
    }

    .form {
      width: 50%;
      height: 2.1rem;
      border: 1px solid $borderColor;
      border-radius: 20px;
      overflow: hidden;
      margin: 0 1.5rem;

      @media screen and (max-width: 768px) {
        display: none;
      }

      .formContainer {
        width: 100%;
        height: 100%;
        display: flex;

        input {
          width: 95%;
          height: 100%;
          outline: none;
          border: none;
          font-size: 1rem;
          padding-left: 15px;
        }

        .searchIcon {
          width: 5%;
          height: inherit;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.2rem;
          background: white;
          color: $primaryBlack;
          cursor: pointer;
        }
      }
    }

    .accountFavCart {
      display: flex;

      .mobileSearch {
        display: none;
      }

      .icon {
        position: relative;
        color: white;
        margin-right: 1.7rem;
        font-size: 1.2rem;

        &-count {
          position: absolute;
          top: 0;
          right: 0;
          font-size: 0.7rem;
          font-weight: 600;
          z-index: 1;
          background: $secondaryColor;
          border-radius: 50%;
          padding: 0 0.2rem;
        }

        @media screen and (max-width: 768px) {
          margin-right: 1rem;
          font-size: 1rem;
        }
      }
    }
  }

  .subNav {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 3px $borderColor;

    @media screen and (max-width: 768px) {
      display: none;
    }

    .subNavItem {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 0.8rem;
      position: relative;
      border-bottom: 1px solid $borderColor;

      .item {
        padding: 0.2em 0;

        .itemHeader {
          padding: 0 0.5rem;
          box-shadow: 0 3px 3px transparent;
          transition: all 0.7s cubic-bezier(0.445, 0.05, 0.55, 0.95);

          &:hover {
            box-shadow: 0 1.5px 1px $secondaryColor;
          }

          &:hover ~ .itemMenu .itemMenucontainer {
            transform: scale(1, 1);
            transition: transform 0.2s ease-in-out 0.2s;
          }
        }

        .itemMenu {
          position: absolute;
          top: 27px;
          left: 0px;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          margin: 0 auto;
          font-size: 0.9rem;

          .itemMenucontainer {
            position: relative;
            display: grid;
            grid-template-columns: 0.4fr 1fr;
            width: 70vw;
            box-shadow: 0 0 2px $primaryBlack;
            background: $primaryWhite;
            z-index: 1;
            transform: scale(1, 0);
            transform-origin: top;

            @media screen and (max-width: 1024px) {
              width: 90vw;
            }

            &:hover {
              transform: scale(1, 1);
            }

            .subs {
              // padding: 0 0.5rem;

              .header {
                font-size: 1.1rem;
                padding: 0.5rem 0.5rem 0 0.5rem;
              }

              .content {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

                .groupContent .subLink {
                  margin: 0.8rem 0;
                  width: max-content;
                  padding: 0 0.5rem;

                  &:hover {
                    text-decoration: underline;
                  }
                }

                .contentLeft {
                  width: 100%;

                  .subMenuLink {
                    display: flex;
                    justify-content: space-between;
                    font-size: 0.9rem;
                    padding: 0.7rem 0.6rem;
                    margin: 0;

                    &:hover {
                      background: #000000;
                      color: #ffffff;
                      cursor: pointer;
                    }

                    span:nth-child(2) {
                      font-size: 1.1rem;
                    }
                  }
                }
              }
            }

            .itemRight {
              border-left: 1px solid $borderColor;
              padding-bottom: 2.5rem;
            }
          }
        }
      }
    }
  }
}
