@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.header {
  display: flex;
  align-items: center;
  height: 4rem;
  background-color: #2d2d2d;
  color: #ffffff;

  .brandName {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Dancing Script', cursive;
    font-size: 2.3rem;
    padding: 0 1.5rem;
    border-right: 1px solid gray;
    height: 100%;
  }

  .menOrWomenCategory {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    .menWomen {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.2rem;
      color: white;
      padding: 0 1.5rem;
      width: 4rem;
      height: 100%;

      &:hover {
        background-color: rgb(71, 68, 68);
      }
    }
  }

  .form {
    width: 50%;
    height: 2.1rem;
    border: 1px solid gray;
    border-radius: 20px;
    overflow: hidden;
    margin: 0 1.5rem;

    .formContainer {
      position: relative;
      width: 100%;
      height: 100%;

      input {
        width: 100%;
        height: 100%;
        outline: none;
        border: none;
        font-size: 1rem;
        padding-left: 15px;
      }

      .searchIcon {
        position: absolute;
        top: 0;
        right: 2%;
        height: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
        cursor: pointer;
        color: #000000;
      }
    }
  }

  .mobileSearch {
    display: none;
  }

  .icon {
    color: white;
    margin-right: 1.7rem;
    font-size: 1.7rem;
  }
}
