@import '../../../scss/media-query-mixins';
@import '../../../scss/sass-variables';

.submit-btn {
  width: 100%;
  background-color: $secondaryColor;
  color: $primaryWhite;
  font-size: 0.875rem;
  font-weight: 600;
  padding: 1rem 0;
  border: 0;
  outline: 0;
  border-radius: 5px;

  &:hover {
    opacity: 0.8;
  }
}
