@import '../../../scss/media-query-mixins';
@import '../../../scss/sass-variables';

.More-product-component {
  margin-top: 1rem;
  padding: 0 1rem;

  &-header {
    font-size: 1.5rem;
    font-weight: 700;
  }

  &-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    margin-top: 0.5rem;

    @include sm {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 3em 1em;
    }

    @include md {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 3em 1em;
    }
  }

  .see-more-btn {
    width: 100%;
    border: 1px solid $primaryBlack;
    font-size: 0.875rem;
    font-weight: 600;
    padding: 0.3rem;
    margin-top: 2rem;

    &:hover {
      background-color: $secondaryColor;
      transition: all 0.5s ease-in-out;
      border: 1px solid $secondaryColor;
    }
  }
}
