@import '../../../scss/sass-variables';

.custom-form-input-title {
  position: relative;
  width: fit-content;
  font-size: $md;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.custom-form-input-important {
  &::after {
    position: absolute;
    content: '*';
    top: 0;
    right: -0.5rem;
    color: #ff0000;
  }
}
