@import '../../../../scss/media-query-mixins';
@import '../../../../scss/sass-variables';

.profile-details {
  padding: 1.5rem;

  &-first-row {
    display: flex;

    &-columns {
      flex: 1;

      .title {
        position: relative;
        width: fit-content;
        font-size: $base;
        font-weight: 600;
        margin-bottom: 0.5rem;

        &::after {
          position: absolute;
          content: '*';
          top: 0;
          right: -0.5rem;
          color: #ff0000;
        }
      }

      &-row {
        display: flex;
        gap: 0.5rem;
      }
    }
  }
}
