@import '../../../../scss/media-query-mixins';
@import '../../../../scss/sass-variables';

.profile-details {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;

  @include sm {
    padding: 1.5rem;
  }

  &-first-row {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    @include sm {
      flex-direction: row;
    }

    &-columns {
      flex: 1;

      .title {
        position: relative;
        width: fit-content;
        font-size: $md;
        font-weight: 600;
        margin-bottom: 0.5rem;

        &::after {
          position: absolute;
          content: '*';
          top: 0;
          right: -0.5rem;
          color: #ff0000;
        }
      }

      &-row {
        display: flex;
        gap: 0.5rem;
      }
    }
  }

  .profile-submit-btn {
    width: fit-content;
    align-self: flex-end;
    background-color: $secondaryColor;
    color: $primaryWhite;
    font-size: 0.875rem;
    border-radius: 3px;
    padding: 0.75rem 1.5rem;
  }
}
