$borderColor: #e9e9e9;
$secondaryColor: rgb(103,58,183);
$headerBackgroundColor: #2d2d2d;
$headerBackgroundHoverColor: #474444;
$primaryWhite: #ffffff;
$primaryBlack: #000000;
// $shadowBox: 0 0 2px rgb(0, 0, 0);
// $lightBorderColor: rgb(95, 93, 93);
// $blankImagecontainer: rgb(0, 0, 0);