@import '../../scss/sass-variables';

.homepage {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;

  .welcome {
    width: 100%;
    height: 100%;
    overflow: hidden;

    .figure {
      position: relative;
      width: 100%;
      height: 85vh;
      overflow: hidden;
      padding: 0;
      margin: 0;

      @media screen and (max-width: 768px) {
        height: 30vh;
      }

      .welcome-img {
        width: 100%;
        height: 100%;
      }

      .caption {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        font-size: 2.5rem;
        font-weight: 600;
        color: $secondaryColor;

        @media screen and (max-width: 768px) {
          font-size: 1.8rem;
        }

        @media screen and (max-width: 360px) {
          font-size: 1.5rem;
        }
      }
    }
  }

  .menWomenCategory {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    // height: 100%;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }

    .womenMenContainer {
      width: 50%;
      height: 50vh;
      position: relative;
      padding: 0;
      margin: 0;

      @media screen and (max-width: 768px) {
        width: 100%;
        height: 30vh;
      }

      .wmCategory-img {
        width: 100%;
        height: 100%;
      }

      .explore-all {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .explore-all-link {
          background: $primaryBlack;
          color: $primaryWhite;
          padding: 1rem 1.5rem;
          letter-spacing: 1.2px;
          border-radius: 5px;
          transition: all 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);

          @media screen and (max-width: 768px) {
            padding: .6rem .7rem;
            font-size: .9em;
          }

          &:hover {
            background: $primaryWhite;
            color: $primaryBlack;
          }
        }
      }
    }
  }

  .trending-design {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .header {
      text-align: center;

      &-text {
        font-size: 1.5rem;
        font-weight: 600;
      }
    }

    .trending-design-carousel {
      width: 85%;
      display: flex;
      justify-content: center;
      align-items: center;

      @media screen and (max-width: 768px) {
        width: 100%
      }

      .carousel-container {
        // display: grid;
        // grid-template-columns: repeat(5, auto);
        width: 100%;
        overflow: hidden;
        grid-gap: 1px;

        .slide {
          display:flex;
          grid-gap: 1em;
          justify-content: center;
          align-items: center;
          // background: rgb(50, 102, 70);
          width: 100%;
          // height: 50vh;
          text-align: center;

          @media screen and (max-width: 768px) {
            display: grid;
            grid-template-columns: repeat(2, auto);
          }
        }

        // .active {
        //   position: relative;
        //   animation: active 1.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        // }

        // .inactive {
        //   display: none;
        // }
      }

      .arrow {
        width: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 4rem;
        
        .grpArrow {
          width: max-content;
          cursor: pointer;
        }
      }
    }
  }

  .view-all {
    display: flex;
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 10%;
    padding: .8rem .5rem;
    margin: 1rem;
    font-size: 1.15rem;
    text-align: center;
    border: 2px solid $primaryBlack;

    @media screen and (max-width: 768px) {
      width: auto;
      grid-gap: .5rem;
      font-size: .9rem;
    }

    &:hover {
      background: $primaryBlack;
      color: $primaryWhite;
    }
  }
  @keyframes active {
    from {
      left: -970px
    }
    to {
      left: 0
    }
  }
}


